<h1>Campeonato XYZ</h1>

<form #myForm="ngForm" (submit)="saveData(myForm)">

  <div>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="newTime.name" name="name" #time="ngModel" required>
  </div>

  <div *ngIf="time.dirty || time.touched">

    <p *ngIf="time.errors?.['required']">
      O campo nome é obrigatório
    </p>
  </div>

  <div><label>Pontuação:</label>
    <input type="text" [(ngModel)]="newTime.pontuacao" name="ponto"  required>
  </div>

  <input type="submit" value="Save" [disabled]="myForm.invalid">
</form>


<h2>Classificação:</h2>

  <table>
    <tr>
      <th>Classificação<td>
        <th>Time<td>
          <th>Pontuação</th>
    </tr>
    <tr *ngFor="let time of timeList">
      <td>{{ time.posicao }}<td>
      <td>{{time.name }}<td></td>
      <td>{{ time.pontuacao }}<td></td>
    </tr>
   
  </table>
    

